In [25]:
primes = [2,3,5,7] #list declaration use []

In [26]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], ]# (Comma after the last element is optional)

In [27]:
hand = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [28]:
my_favourite_things = [32, 'raindrops on roses', help]

In [29]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [30]:
planets[0]

'Mercury'

In [31]:
planets[-1]

'Neptune'

In [32]:
planets[0:3] #Slicing

['Mercury', 'Venus', 'Earth']

In [33]:
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [34]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [35]:
sorted(planets)

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [36]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [37]:
max(primes )

7

In [38]:
planets.append('Pluto')

In [39]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [40]:
planets.pop()

'Pluto'

In [41]:
planets.index('Earth')

2

In [42]:
"Earth" in planets

True

#Tuples
- Tuples are almost exactly the same as lists. They differ in just two ways.The syntax for creating them uses parentheses instead of square brackets
- They cannot be modified (they are immutable).

In [43]:
t = (1, 2, 3)

In [44]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [45]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [46]:
#exercise:

In [47]:
"""Return the second element of the given list. If the list has no second
    element, return None.
    """

'Return the second element of the given list. If the list has no second\n    element, return None.\n    '

In [49]:
def select_second(L):
    if len(L) < 2:
        return None
    return L[1]

2.
You are analyzing sports teams. Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last. Complete the function below to select the captain of the worst team.

In [50]:
def losing_team_captain(teams):
    return teams[-1][1]
    pass

In [1]:
import sys
print(sys.executable)

c:\Users\Somya Shrivastava\miniconda3\python.exe

In [ ]:
miniconda3/python.exe -m pip install wordcloud