In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [2]:
used_cars = pd.read_csv(r"E:\python_learning\used car analysis project 1\UserCarData.csv")

In [3]:
used_cars.head()

,Sales_ID,name,year,selling_price,km_driven,Region,State or Province,City,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,sold
0,1,Maruti,2014,450000,145500,East,District of Columbia,Washington,Diesel,Individual,Manual,First_Owner,23.40,1248,74.00,190Nm@ 2000rpm,5,Y
1,2,Skoda,2014,370000,120000,East,New York,New York City,Diesel,Individual,Manual,Second_Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5,Y
2,3,Honda,2006,158000,140000,Central,Illinois,Chicago,Petrol,Individual,Manual,Third_Owner,17.70,1497,78.00,"12.7@ 2,700(kgm@ rpm)",5,Y
3,4,Hyundai,2010,225000,127000,Central,Illinois,Chicago,Diesel,Individual,Manual,First_Owner,23.00,1396,90.00,22.4 kgm at 1750-2750rpm,5,Y
4,5,Maruti,2007,130000,120000,East,New York,New York City,Petrol,Individual,Manual,First_Owner,16.10,1298,88.20,"11.5@ 4,500(kgm@ rpm)",5,Y

In [4]:
null_values = used_cars.isnull().sum()
null_values

Sales_ID             0
name                 0
year                 0
selling_price        0
km_driven            0
Region               0
State or Province    0
City                 0
fuel                 0
seller_type          0
transmission         0
owner                0
mileage              0
engine               0
max_power            0
torque               0
seats                0
sold                 0
dtype: int64

In [5]:
used_cars = used_cars.dropna()

In [9]:
# REMOVING TEXT AND KEEPING ONLY NUMERICAL VALUES IN "new_price" COLUMN AND SAVING THE UPDATED VALUES IN NEW COLUMN i.e "original_price"

originals = []
for i in used_cars["selling_price"]:
  
    crore = False
    s = i.split(":")[-1]

    if "Cr*" in s:
        crore = True

    if "-" in s:
        original = s.split("-")[-1]
        original = float(original.split(" ")[0])

        if crore:
            original = original * 100

        originals.append(original)
       
    else:
     
        without_dash = s.strip().split(" ")[0]
        without_dash = float(without_dash.replace("Rs.",""))
        
        if crore:
            without_dash = without_dash * 100

        originals.append(without_dash)

AttributeError: 'int' object has no attribute 'split'